/*Reset*/
body{
    background: url(http://reports.larek.pro/api/the-village-calendar-2018/images/background-3.svg) #eff7f9 no-repeat;
    background-size: 100%;
}

.row.header {
    background: transparent;
}

.row.post-cover-row {
    background: transparent;
}

.post-cover {
    background: transparent;
}

.stk-post.stk-theme_2393.stk-layout_6{
  background: transparent;
}

.pseudosidebar{
  display: none;
}

/*Calendar*/

#cf2 {
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
}

#cf2 img {
  width: 80%;
  left:0;
  -webkit-transition: transform 200ms, position 0s ease-in-out;
  -moz-transition: transform 200ms, position 0s ease-in-out;
  -o-transition: transform 200ms, position 0s ease-in-out;
  transition: transform 200ms, position 0s ease-in-out;
}


#cf2 img.transparent {
  transform: scale(0);
  position: absolute;
}

.pure-content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.lock {
    width: 15%!important;
    margin: 5% 0 0 15%;
    position: absolute;
}

/*Grid*/

.col-4 {
  width: 33%;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}