#cf2 {
  position:relative;
  margin:0 auto;
  cursor: pointer;
}
#cf2 img {
  width: 100%;
  left:0;
  -webkit-transition: transform 200ms, position 0s ease-in-out;
  -moz-transition: transform 200ms, position 0s ease-in-out;
  -o-transition: transform 200ms, position 0s ease-in-out;
  transition: transform 200ms, position 0s ease-in-out;
}


#cf2 img.transparent {
  transform: scale(0);
  position: absolute;
}

.pure-content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.lock {
    width: 15%!important;
    margin: 5%;
    position: absolute;
}

/* For desktop: */

.col-4 {
  width: 33%;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}